In [1]:
import numpy as np 
import pandas as pd 
pd.options.display.max_columns = 100
import seaborn as sns
from matplotlib import pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
%matplotlib inline

import warnings
%config InlineBackend.figure_format = 'png' #set 'png' here when working on notebook
warnings.filterwarnings('ignore')

In [4]:
train = pd.read_csv(r"C:\Users\piush\Desktop\Dataset\RevenuePrediction\train.csv")
train = train.set_index('Id')

In [5]:
#Pandas allows you to have a sneak peak at your data.
train.head(5)

,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,P11,P12,P13,P14,P15,P16,P17,P18,P19,P20,P21,P22,P23,P24,P25,P26,P27,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
Id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,2,5,4,5,5,3,5,5.0,1,2,2,2,4,5,4,1,3,3,1,1,1.0,4.0,2.0,3.0,5,3,4,5,5,4,3,4,5653753.0
1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,2,5,5,5,5,1,5,5.0,0,0,0,0,0,3,2,1,3,2,0,0,0.0,0.0,3.0,3.0,0,0,0,0,0,0,0,0,6923131.0
2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,3,5,5,5,5,2,5,5.0,0,0,0,0,0,1,1,1,1,1,0,0,0.0,0.0,1.0,3.0,0,0,0,0,0,0,0,0,2055379.0
3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,4,10,8,10,10,8,10,7.5,6,4,9,3,12,20,12,6,1,10,2,2,2.5,2.5,2.5,7.5,25,12,10,6,18,12,12,6,2675511.0
4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,2,5,5,5,5,2,5,5.0,2,1,2,1,4,2,2,1,2,1,2,3,3.0,5.0,1.0,3.0,5,1,3,2,3,4,3,3,4316715.0

In [7]:
train.columns

Index(['Open Date', 'City', 'City Group', 'Type', 'P1', 'P2', 'P3', 'P4', 'P5',
       'P6', 'P7', 'P8', 'P9', 'P10', 'P11', 'P12', 'P13', 'P14', 'P15', 'P16',
       'P17', 'P18', 'P19', 'P20', 'P21', 'P22', 'P23', 'P24', 'P25', 'P26',
       'P27', 'P28', 'P29', 'P30', 'P31', 'P32', 'P33', 'P34', 'P35', 'P36',
       'P37', 'revenue'],
      dtype='object')

In [8]:
print ("Shape of data set:", train.shape, "\n")

Shape of data set: (137, 42)

In [9]:
print (train.dtypes)

Open Date      object
City           object
City Group     object
Type           object
P1              int64
P2            float64
P3            float64
P4            float64
P5              int64
P6              int64
P7              int64
P8              int64
P9              int64
P10             int64
P11             int64
P12             int64
P13           float64
P14             int64
P15             int64
P16             int64
P17             int64
P18             int64
P19             int64
P20             int64
P21             int64
P22             int64
P23             int64
P24             int64
P25             int64
P26           float64
P27           float64
P28           float64
P29           float64
P30             int64
P31             int64
P32             int64
P33             int64
P34             int64
P35             int64
P36             int64
P37             int64
revenue       float64
dtype: object

In [11]:
import re
missing_values = []
nonumeric_values = []

print ("DATA SET INFORMATION")
print ("========================\n")

for column in train:
    # Find all the unique feature values
    uniq = train[column].unique()
    print ("'{}' has {} unique values" .format(column,uniq.size))
    if (uniq.size > 10):
        print("~~Listing up to 10 unique values~~")
    print (uniq[0:10])
    print ("-"* 40)
    
    # Find features with missing values
    if (True in pd.isnull(uniq)):
        s = "{} has {} missing" .format(column, pd.isnull(train[column]).sum())
        missing_values.append(s)
    
    
  
#print ("-" * 40)
print ("Features with missing values:\n{}\n\n" .format(missing_values))

DATA SET INFORMATION
========================

'Open Date' has 134 unique values
~~Listing up to 10 unique values~~
['07/17/1999' '02/14/2008' '03/09/2013' '02/02/2012' '05/09/2009'
 '02/12/2010' '10/11/2010' '06/21/2011' '08/28/2010' '11/16/2011']
----------------------------------------
'City' has 34 unique values
~~Listing up to 10 unique values~~
['İstanbul' 'Ankara' 'Diyarbakır' 'Tokat' 'Gaziantep' 'Afyonkarahisar'
 'Edirne' 'Kocaeli' 'Bursa' 'İzmir']
----------------------------------------
'City Group' has 2 unique values
['Big Cities' 'Other']
----------------------------------------
'Type' has 3 unique values
['IL' 'FC' 'DT']
----------------------------------------
'P1' has 8 unique values
[ 4  2  6  3  1  9 12  5]
----------------------------------------
'P2' has 8 unique values
[ 5.   4.   4.5  6.   3.   1.   2.   7.5]
----------------------------------------
'P3' has 8 unique values
[ 4.   2.   6.   3.   4.5  5.   7.5  0. ]
----------------------------------------
'P4' has 6 unique values
[ 4.   5.   6.   7.5  3.   4.5]
----------------------------------------
'P5' has 7 unique values
[2 1 4 8 6 3 5]
----------------------------------------
'P6' has 8 unique values
[ 2  3  4 10  5  1  6  8]
----------------------------------------
'P7' has 6 unique values
[ 5 10  1  4  3  2]
----------------------------------------
'P8' has 8 unique values
[ 4  5  8 10  3  1  2  6]
----------------------------------------
'P9' has 4 unique values
[ 5 10  8  4]
----------------------------------------
'P10' has 4 unique values
[ 5 10  8  4]
----------------------------------------
'P11' has 8 unique values
[ 3  1  2  8 10  4  5  6]
----------------------------------------
'P12' has 7 unique values
[ 5 10  8  3  4  2  6]
----------------------------------------
'P13' has 5 unique values
[ 5.   7.5  6.   4.   3. ]
----------------------------------------
'P14' has 10 unique values
[ 1  0  6  2  3  4 15  9 12  5]
----------------------------------------
'P15' has 8 unique values
[ 2  0  4  1 10  5  3  8]
----------------------------------------
'P16' has 9 unique values
[ 2  0  9  4  5 15  3 12  1]
----------------------------------------
'P17' has 9 unique values
[ 2  0  3  1  4  5 15  9  6]
----------------------------------------
'P18' has 7 unique values
[ 4  0 12  3  1  9  5]
----------------------------------------
'P19' has 9 unique values
[ 5  3  1 20  2 25 10  4 15]
----------------------------------------
'P20' has 9 unique values
[ 4  2  1 12  6  5  3 15  9]
----------------------------------------
'P21' has 8 unique values
[ 1  6  3  2 15  5  4  9]
----------------------------------------
'P22' has 5 unique values
[3 1 2 4 5]
----------------------------------------
'P23' has 9 unique values
[ 3  2  1 10  5 20 25  4 15]
----------------------------------------
'P24' has 9 unique values
[ 1  0  2  5  4  8  3 10  6]
----------------------------------------
'P25' has 8 unique values
[ 1  0  2  3  4  8  5 10]
----------------------------------------
'P26' has 10 unique values
[  1.    0.    2.5   3.    4.   10.    2.    5.   12.5   7.5]
----------------------------------------
'P27' has 9 unique values
[  4.    0.    2.5   5.    2.    3.    1.   10.   12.5]
----------------------------------------
'P28' has 9 unique values
[  2.    3.    1.    2.5   7.5   5.   10.    4.   12.5]
----------------------------------------
'P29' has 7 unique values
[ 3.   7.5  5.   2.   2.5  1.   0. ]
----------------------------------------
'P30' has 9 unique values
[ 5  0 25  4  3 10  1 20 15]
----------------------------------------
'P31' has 10 unique values
[ 3  0 12  1  5 15  2  6  9  4]
----------------------------------------
'P32' has 10 unique values
[ 4  0 10  3  2  5 20 25 15  1]
----------------------------------------
'P33' has 6 unique values
[5 0 6 2 3 4]
----------------------------------------
'P34' has 8 unique values
[ 5  0 18  3  4 12  2 24]
----------------------------------------
'P35' has 8 unique values
[ 4  0 12  5  3  2  1 15]
----------------------------------------
'P36' has 8 unique values
[ 3  0 12  4 16  5 20  2]
----------------------------------------
'P37' has 8 unique values
[4 0 6 3 5 2 1 8]
----------------------------------------
'revenue' has 137 unique values
~~Listing up to 10 unique values~~
[ 5653753.  6923131.  2055379.  2675511.  4316715.  5017319.  5166635.
  4491607.  4952497.  5444227.]
----------------------------------------
Features with missing values:
[]